---
import BaseLayout from "../layouts/BaseLayout.astro";
import Youtube from "../components/Youtube.astro";

import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../sanity/lib/load-query";


export const prerender = true;


export async function getStaticPaths() {
  const {data:games} = await loadQuery<SanityDocument[]>({
    query: `*[_type == "escapeGames"]`,
  });
  return games.map(({slug}) => ({params: {
    slug: slug.current
  }}))
}

const {params} =Astro
const { data: game } = await loadQuery<SanityDocument>({
  query: `*[_type == "escapeGames" && slug.current == $slug][0]`,
  params,
});

---

<BaseLayout>
  <div class="grid place-items-center">
    <h1
      id=`${params.slug}`
      class="my-8 text-center text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
    >
      {game.name}
    </h1>
    <Youtube videoId={game.youtube} /> 
    <p class="dark:text-white p-8 lg:w-1/2" >{game.text}</p>
  </div>
</BaseLayout>
