---
import CardImage from "./CardImage.astro";
import CardLink from "./CardLink.astro";
// import CardText from "./CardText.astro";
import CardTitle from "./CardTitle.astro";

const { game, slug, text } = Astro.props;
---

<div
  class="max-w-sm h-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <CardImage src={game.image} alt={game.alt} slug={slug} />
  <div class="p-5 grid grid-cols-1">
    <CardTitle display="none" title={game.name} slug={slug} />
    <!-- <CardText display="hidden" text={text} /> -->
    <CardLink slug={slug} />
  </div>
</div>
