---
import CardImage from "./CardImage.astro";
import CardLink from "./CardLink.astro";
import CardTitle from "./CardTitle.astro";
const { game, slug } = Astro.props;

// Extraire le nom du fichier à partir du chemin complet
function getImageFilename(imagePath: string | ImageMetadata) {
  if (typeof imagePath === "string") {
    return imagePath.split("/").pop();
  }
  return imagePath;
}

// Extraire le nom de fichier seul pour le passer au composant
const imageFilename = getImageFilename(game.data.image);
---

<div
  class="w-full h-full bg-white border border-gray-200 rounded-lg shadow hover:shadow-lg transition-shadow duration-300 dark:bg-gray-800 dark:border-gray-700 flex flex-col"
>
  <div class="flex-none">
    <CardImage src={imageFilename} alt={game.data.name} slug={slug} />
  </div>
  <div class="p-4 flex-grow flex flex-col justify-between">
    <CardTitle display="block" title={game.data.name} slug={slug} />
    <div class="mt-auto flex justify-center pt-3">
      <CardLink slug={slug} />
    </div>
  </div>
</div>
